langchain
langchain-core
langchain-openai
langchain-groq
langchain-google-genai
langchain-cohere
langchain-chroma
langchain-huggingface
langchain-tavily
langgraph
pydantic
pydantic-settings
rich
python-dotenv
nltk
sentence-transformers
langchain_community
langchain_text_splitters
pypdf
rank_bm25